Concesionario/AlmacenamientoCoches.dtd

<!ELEMENT AlmacenamientoCoches (coche*)>
<!ELEMENT coche (codigoCoche, marca, modelo, matricula, potencia, plazas, puertas)>
<!ELEMENT codigoCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>